USE [master]
GO
/****** Object:  Database [DuongPhuong]    Script Date: 4/10/2026 8:57:26 PM ******/
CREATE DATABASE [DuongPhuong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DuongPhuong_Data', FILENAME = N'D:\Dgphg_SQL\DuongPhuong.mdf' , SIZE = 10240KB , MAXSIZE = 102400KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'DuongPhuong_Log', FILENAME = N'D:\Dgphg_SQL\DuongPhuong_log.ldf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuongPhuong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuongPhuong]
GO
/****** Object:  Table [dbo].[SaoHoa]    Script Date: 4/10/2026 8:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaoHoa](
	[masv] [nvarchar](50) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [nvarchar](50) NULL,
	[ngaysinh] [nvarchar](50) NULL,
	[noisinh] [nvarchar](200) NULL,
	[diachi] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 4/10/2026 8:57:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[masv] [nvarchar](50) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [nvarchar](50) NULL,
	[ngaysinh] [nvarchar](50) NULL,
	[noisinh] [nvarchar](200) NULL,
	[diachi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
